<!DOCTYPE html>
<html>
    <head>
     <link rel="stylesheet" href="css/styles.css">
     <title>About</title>
     <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
    
        <p>This app uses mapbox and weatherstack api to get weather forecast! Just Practice :}</p>
        </div>
        {{>footer}}
    </body>
</html>